{% extends 'works/base.html' %}

{% block content %}
<div class="content">
    <h2>{{ story.title }}</h2>
    <h3>Chapters:</h3>
    <ol>
        {% for chapter in story.chapter_set.all %}
        <li><a href="{% url 'works:get_chapter' story.id chapter.number %}">{{ chapter.title }}</a></li>
        {% endfor %}
    </ol>
    <h3>Characters:</h3>
    <ul>
        {% for character in story.character_set.all %}
           <li><a href="{% url 'works:get_character' story.id character.id %}">{{ character.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<a href="{% url 'works:index' %}">Take me back</a>
{% endblock content %}