{% extends 'works/base.html' %}

{% block content %}
<div class="content">
    <h2>{{ story.title }}</h2>
    <p>{{ story.description }}</p>
    {% if user.is_authenticated %}
        {% if story not in user.profile.bookmarks.all %}
            <a type="button" href="{% url 'works:add_bookmark' story.id %}">Add bookmark</a>
        {% else %}
            <a type="button" href="{% url 'works:remove_bookmark' story.id %}">Remove bookmark</a>
        {% endif %}
    {% endif %}
    <h3>Chapters:</h3>
    <ol>
        {% for chapter in story.chapter_set.all %}
        <li><a href="{% url 'works:get_chapter' story.id chapter.number %}">{{ chapter.title }}</a></li>
        {% endfor %}

    </ol>
    {% if is_author %}
        <p><a href="{% url 'works:new_chapter' story.id %}">Add new chapter</a></p>
    {% endif %}
    <h3>Characters:</h3>
    <ul>
        {% for character in story.character_set.all %}
           <li><a href="{% url 'works:get_character' story.id character.id %}">{{ character.name }}</a></li>
        {% endfor %}

    </ul>
    {% if is_author %}
        <p><a href="{% url 'works:new_character' story.id %}">Add new character</a></p>
    {% endif %}
</div>

<a href="{% url 'works:index' %}">Take me back</a>
{% endblock content %}