<h1>{{ story.title }}</h1>
<h2>Chapters:</h2>
<ol>
    {% for chapter in story.chapter_set.all %}
    <li><a href="{% url 'works:get_chapter' story.id chapter.id %}">{{ chapter.title }}</a></li>
    {% endfor %}
</ol>
<h3>Characters:</h3>
<ul>
    {% for character in story.character_set.all %}
       <li><a href="{% url 'works:get_character' story.id character.id %}">{{ character.name }}</a></li>
    {% endfor %}
</ul>

<a href="{% url 'works:new_chapter' story.id %}">Add new chapter</a>
<a href="{% url 'works:new_character' story.id %}">Add new character</a>

<a href="{% url 'works:index' %}">Take me back</a>