{% extends 'works/base.html' %}
{% load static %}

{% block content %}
<div class="content">
    {% if owner %}
        <ul class="nav">
            <li><a href="{% url 'users:drafts' user.username %}">Your drafts</a></li>
            <li><a href="{% url 'users:bookmarks' user.username %}">Your bookmarks</a></li>
            <li><a href="{% url 'users:change_username' user.username %}">Change username</a></li>
            <li><a href="{% url 'users:change_password' user.username %}">Change password</a></li>
            <li><a href="{% url 'users:change_email' user.username %}">Change email</a></li>
        </ul>
    {% endif %}

    <h2>{{ user.username }}</h2>
    <img class="user-image" src="{{ user_profile.picture.url }}" width="300" alt="image">
    <p><b>First name: </b>{{ user.first_name }}</p>
    <p><b>Last name: </b>{{ user.last_name }}</p>
    <p><b>Email address: </b>{{ user.email }}</p>
    <p><b>About me:</b>{{ user_profile.description }}</p>

    <h3>Recent works by {{ user.username }}</h3>
    {% if user_works_list %}
        <ul>
        {% for work in user_works_list %}
            <li><a href="{% url 'works:get_story' work.id %}">{{ work.title }}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'users:works' user.username %}">All stories</a>
    {% else %}
        <p>This user has not posted any stories yet.</p>
    {% endif %}
</div>


<a href="{% url 'main:index' %}">Take me back</a>
{% endblock content %}