<div class="header">
    <h1>fanfic.io</h1>
</div>

{% load static %}


<div class="content">
    <h2>{{ user.username }}</h2>
    <img class="user-image" src="{{ user_profile.picture.url }}" width="300" alt="image">
    <p><b>First name: </b>{{ user.first_name }}</p>
    <p><b>Last name: </b>{{ user.last_name }}</p>
    <p><b>Email address: </b>{{ user.email }}</p>
    <p><b>About me:</b>{{ user_profile.description }}</p>

    <h3>Works by {{ user.username }}</h3>
    {% if user_works_list %}
        <ul>
        {% for work in user_works_list %}
            <li><a href="{% url 'works:get_story' work.id %}">{{ work.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>This user has not posted any stories yet.</p>
    {% endif %}
</div>


<a href="{% url 'main:index' %}">Take me back</a>
